Set CoreClr ../../coreclr

NoMscorlib

SetMSBuild Cofiguration Debug
SetMSBuild Platform amd64

Project $(CoreClr)/src/mscorlib/System.Private.CoreLib.csproj
{
    Remove mscorlib.System.Boolean
    IncludeSource System System.d
}

AssemblyPackageOverride System.Private.CoreLib mscorlib
